<!DOCTYPE html>
<html lang="eng">
    <body>
        <form action="/add" method="post">
            <label>Enter your fixed income</label>
            <input type="text" name="fixed_income" id="fixed_income">

            <label>Enter your expenses</label>
            <input type="text" name="expense" id="expense">

            <label>Enter amount saved (note it is assumed you will not spend this)</label>
            <input type="text" name="savings" id="savings">

            <button type="submit">Add</button>
        </form>
        <p>{{message}}</p>
    </body>
</html>