<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expenses</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/expense.css') }}">
    </head>
    <nav>
        <div class="logo">Finance Tracker</div>
        <ul class="nav-links">
            <li><a href="{{url_for('index')}}">⟵</a></li>
            <li><a href="{{url_for('add')}}">Add record</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
    <body>
        <a href="{{url_for('index')}}">↤</a>
        <form action="/expense" method="post">
            <label>enter latest item</label>
            <input type="text" name="item" id="item" required>

            <label>Enter Latest Expense</label>
            <input type="number" name="expense" id="expense" required>
            
            <button type="submit">Submit</button>
        </form>
        <div>
            <h1>All Expenses So Far</h1>
            {% if item %}
                <table border="1" cellpadding="10" cellspacing="0">
                    <tr>
                        <th>Created</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                    {% for items in item %}
                    <tr>
                        <td> {{items[0]}}</td>
                        <td> {{items[1]}}</td>
                        <td> {{items[2]}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p>no expenses.......</p>
                {%endif%}
        </div>
    </body>
</html>