<!DOCTYPE html>
<html>
    <body>
            <div class="child">
                <P>Balance</P>
                <p id="balance">{{balance}}</p>
            </div>
            <div class="child">
                <p>Savings</p>
                <p id="savings">{{savings}}</p>
            </div>
            <div class="child">
                <p>Total Expences</p>
                <p id="projected">{{total_expenses}}</p>
            </div>
            <div class="child">
                <p>Total Income</p>
                <p id="income">{{total_income}}</p>
            </div>
    </div>
    </body>
</html>